In [ ]:
'''
Live Session
    -attendance
    -github client to clone is437 repo
    -jupyter lab
    -solve select problems.
    -upload ipynb to slack
    

'''

### Types and strings

In [5]:
# 1.1 Assign a variable `s` to a string literal.
s = "Hello"

In [6]:
# 1.2 Assign a variable p as an integer.
p = 5

In [7]:
# 1.3 Print a string literal.
print("rajat")

rajat

In [8]:
# 1.4 Assign a variable `answer` to be the concatination of variables `s` and p``

p = "Jordon"
answer = s +" "+ p
print(answer)

Hello Jordon

In [17]:
# 1.5
d = 20
m = 10
y = 2015
# Print the date stored as the variables above as a string in the format yyyy-mm-dd
date =f"{d}-{m}-{y}"
rough_work = f"{d}-{m}-{'literal'}"  #string literal
print(date)
print(rough_work)

20-10-2015
20-10-literal

In [24]:
d = 20
m = 10
y = 2015
date = str(d) + "-" +str(m) +"-"+ str(y)
print(date)

20-10-2015

In [18]:
# 1.6
m = 15
s = 0
h = 10
# print the time stored in the variables above in the format hh:mm:ss
format = f"{h}:{m}:{s}"
print(format)

10:15:0

In [26]:
# 1.7 Add the string `PM` to the end of the string `ts` defined below. Save the result as a new string `ts`:
ts = "10:44"
ts += " PM"
print(ts)

10:44 PM

### Collections

In [ ]:
# 2.1 Create a list of ints, `l`
l = [3,3,6]

In [ ]:
# 2.2 Create a list of strings literals `sl`
sl = ["adam","josh"]

In [28]:
# 2.3 print the string `FROM` from the list below:
col = "*"
table = "users"
sql = ["SELECT",col,"FROM",table]
print(sql[2])
print(len(sql))

FROM
4

In [44]:
# 2.4 assign the list above as single string, `ss` which is composed of the list items seperated by spaces
ss = f"{sql}".replace(",", "")
print(ss)

['SELECT' '*' 'FROM' 'users']

In [48]:
ss = " ".join(sql)   #" " glue
print(ss)

SELECT * FROM users

In [51]:
# 2.5 add the following strings (in order_by) to the string `ss`
ofn = "name"
order_by = ["ORDER", "BY", ofn]
s = ss + " " + " ".join(order_by)
print(s)

SELECT * FROM users ORDER BY name

In [52]:
# 2.6 Assign a new list `sql_l` which contains all the items from sql and order_by.  This list should not contain any lists.
sql_l = sql + order_by
print(sql_l)

['SELECT', '*', 'FROM', 'users', 'ORDER', 'BY', 'name']

### Loops / iteration

In [83]:
# 3.1 Create a loop which prints each item in the list bleow on it own line with a number next to it

ml = ['Boston','New York','Los Angles','Dallas']
n = 0
for city in ml:
    n +=1
    print(str(n)+ ") " + city)

1) Boston
2) New York
3) Los Angles
4) Dallas

In [84]:
ml = ['Boston','New York','Los Angles','Dallas']
n = 0
for city in ml:
    n +=1
    print(f"{n}.) {city}")

1.) Boston
2.) New York
3.) Los Angles
4.) Dallas

In [98]:
# Create a loop which prints each kv pair like so (whitespace does not matter):
'''
City       | Temp.
========== | ======
Boston     | 43
New York   | 47
Los Angles | 71
Dallas     | 68
'''
wx = {'Boston':43,'New York':47,'Los Angles':71,'Dallas':68}

print("City" +"      |    " "Temp")
print("=============|============")
for city, temp in wx.items():
    
    print(f"{city}  |  {temp}")

City      |    Temp
=============|============
Boston  |  43
New York  |  47
Los Angles  |  71
Dallas  |  68

In [130]:
# 3.2 create a loop which creates the same output as above except it stores it to a 
#variable 's'

wx = {'Boston':43,'New York':47,'Los Angles':71,'Dallas':68}
s = '''City      |     "Temp
============= |============'''

for city, temp in wx.items():
    
    s += f"\n{city}   |  {temp}"
    
print(s)

f = open('cities.txt','w')
f.write(s)
f.close()

print(s)
f = open('cities.csv','w')
f.write(s)
f.close()

City      |     "Temp
============= |============
Boston   |  43
New York   |  47
Los Angles   |  71
Dallas   |  68

In [3]:
# 3.3 Create a loop which generates a list of all the numbers between 0 and 10.  
#print the list
n=0
l = []
while n < 11:  # if this condition is true
    
    #print(n)
    l.append(n)
    n+=1
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# 3.4 Create a loop which generates a list of all the letters between a and z.  print the list 
#HINT: (use chr codes)
#chr = 0 

n = 97
while n < 97+26:            # 26 is a to z  or n<123
    #l.append(n)
    print(chr(n))
    n+=1

#print(chr(100))
#print(chr(101))
#print(chr(102))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [49]:
# buffering method
n = 97

while n < 97+26:            # 26 is a to z  or n<123

    print(chr(n),end=" ")  #blank space ""
    n+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [3]:
# 3.5 create a loop which creates a dictionary where the values are the letter and the keys 
#   are the order of that letter in the alphabet (a-z).  Example:
'''
{'1':'a','2':'b'...}

'''
n = 97
i = 1
d= {}
while n < 97+26:            # 26 is a to z  or n<123
    v = chr(n)  #blank space ""
    k = str(i)
    d[k]=v
    i+=1
    n+=1  
print(d)

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'f', '7': 'g', '8': 'h', '9': 'i', '10': 'j', '11': 'k', '12': 'l', '13': 'm', '14': 'n', '15': 'o', '16': 'p', '17': 'q', '18': 'r', '19': 's', '20': 't', '21': 'u', '22': 'v', '23': 'w', '24': 'x', '25': 'y', '26': 'z'}

"\n{'1':'a','2':'b'...}\n\n"

In [ ]:
# 3.6 Create a loop which prompts the user for a number, adds it to a list until the user enters 'exit'.  
#   The list should be printed on exit

In [41]:
'''
a | b | c
=============
1 | 2 | 3
4 | 5 | 6
'''

# 3.7 Write a script which prints the string below called 'data_str' in the format above
n=0
data_str = '''a,b,c
1,2,3
4,5,6'''
rows = data_str.split('\n')  #lsit of string
for row in rows:
    if n==1:
        print("=====")
    #print(row)
    print(row.replace(",","|"))
    n+=1

a|b|c
=====
1|2|3
4|5|6

In [ ]:
# 3.8 Write a script which takes the string data below and prints the day and ip of each request
log_data = '''67.249.20.246 - - [06/Mar/2018:15:03:34 +0000] "GET /assessment/KHSV HTTP/1.1" 200 2895 "https://hilite.clarksonmsda.org/airports" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
67.249.20.246 - - [06/Mar/2018:15:03:36 +0000] "GET /files/KHSV/5a9c7102c43c4b00115eb111 HTTP/1.1" 200 60543 "https://hilite.clarksonmsda.org/assessment/KHSV" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
67.249.20.246 - - [06/Mar/2018:15:03:40 +0000] "GET /getData/KHSV/5a9c7102c43c4b00115eb111 HTTP/1.1" 200 4310723 "https://hilite.clarksonmsda.org/files/KHSV/5a9c7102c43c4b00115eb111" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
104.229.180.74 - - [06/Mar/2018:15:05:18 +0000] "GET /airports HTTP/1.1" 200 4471 "https://hilite.clarksonmsda.org/airports" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36" "-"
196.52.43.86 - - [06/Mar/2018:16:48:54 +0000] "GET / HTTP/1.0" 200 2518 "-" "Mozilla/5.0(WindowsNT6.1;rv:31.0)Gecko/20100101Firefox/31.0" "-"
38.142.119.122 - - [06/Mar/2018:17:40:06 +0000] "GET / HTTP/1.1" 200 2518 "-" "-" "-"
46.161.55.107 - - [06/Mar/2018:18:07:05 +0000] "GET /css/main_page.css HTTP/1.1" 404 1635 "-" "python-requests/2.18.4" "-"
213.202.230.144 - - [06/Mar/2018:18:19:35 +0000] "\x03\x00\x00/*\xE0\x00\x00\x00\x00\x00Cookie: mstshash=Administr" 400 173 "-" "-" "-"'''